<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit infomation user</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="create-detail-user">
        <div>Form edit infomation user</div>
            <div class="form-detail">   
                <form action="/update" method="POST">
                    <label>LastName</label> 
                    <input type="text" value="<%= data.lastName %>"  name="lastName"/>         
                    <label>first</label> 
                    <input type="text" value="<%= data.firstName %>"  name="firstName"/>           
                    <label>email</label> 
                    <input type="email" value="<%= data.email %>"  name="email"/>    
                    <label>adress</label>   
                    <input type="text" value="<%= data.address %>" name="address"/>  
                    <input type="text" value="<%= data.id %>" style="display: none;" name="id"/>  
                    <div>
                        <button type="submit" class="btn_Create"> Save</button>
                    </div>  
                </form>                     
            </div>
      </div>
</body>
</html>